:root {
  --bg-color: #0e6ba8;
  --text-color: #edf9fe;
  --text-color-opacity: #edf9fe92;
}

.degrees-received .degrees-received-box-img {
  display: flex;
  justify-content: center;
}

.degrees-received .degrees-received-box-img {
  align-items: center;
}

:root {
  --bg-color: #0e6ba8;
  --text-color: #edf9fe;
  --text-color-opacity: #edf9fe92;
}

.color-opacity-1 {
  color: rgba(var(--text-color), 0.1);
}

.color-to-bg-opacity-1 {
  background-color: rgba(var(--text-color), 0.1);
}

.bgColor-opacity-1 {
  background-color: rgba(var(--bg-color), 0.1);
}

.bg-fill-opacity-1 {
  fill: rgba(var(--bg-color), 0.1);
}

.fill-opacity-1 {
  fill: rgba(var(--text-color), 0.1);
}

.color-opacity-2 {
  color: rgba(var(--text-color), 0.2);
}

.color-to-bg-opacity-2 {
  background-color: rgba(var(--text-color), 0.2);
}

.bgColor-opacity-2 {
  background-color: rgba(var(--bg-color), 0.2);
}

.bg-fill-opacity-2 {
  fill: rgba(var(--bg-color), 0.2);
}

.fill-opacity-2 {
  fill: rgba(var(--text-color), 0.2);
}

.color-opacity-3 {
  color: rgba(var(--text-color), 0.3);
}

.color-to-bg-opacity-3 {
  background-color: rgba(var(--text-color), 0.3);
}

.bgColor-opacity-3 {
  background-color: rgba(var(--bg-color), 0.3);
}

.bg-fill-opacity-3 {
  fill: rgba(var(--bg-color), 0.3);
}

.fill-opacity-3 {
  fill: rgba(var(--text-color), 0.3);
}

.color-opacity-4 {
  color: rgba(var(--text-color), 0.4);
}

.color-to-bg-opacity-4 {
  background-color: rgba(var(--text-color), 0.4);
}

.bgColor-opacity-4 {
  background-color: rgba(var(--bg-color), 0.4);
}

.bg-fill-opacity-4 {
  fill: rgba(var(--bg-color), 0.4);
}

.fill-opacity-4 {
  fill: rgba(var(--text-color), 0.4);
}

.color-opacity-5 {
  color: rgba(var(--text-color), 0.5);
}

.color-to-bg-opacity-5 {
  background-color: rgba(var(--text-color), 0.5);
}

.bgColor-opacity-5 {
  background-color: rgba(var(--bg-color), 0.5);
}

.bg-fill-opacity-5 {
  fill: rgba(var(--bg-color), 0.5);
}

.fill-opacity-5 {
  fill: rgba(var(--text-color), 0.5);
}

.color-opacity-6 {
  color: rgba(var(--text-color), 0.6);
}

.color-to-bg-opacity-6 {
  background-color: rgba(var(--text-color), 0.6);
}

.bgColor-opacity-6 {
  background-color: rgba(var(--bg-color), 0.6);
}

.bg-fill-opacity-6 {
  fill: rgba(var(--bg-color), 0.6);
}

.fill-opacity-6 {
  fill: rgba(var(--text-color), 0.6);
}

.color-opacity-7 {
  color: rgba(var(--text-color), 0.7);
}

.color-to-bg-opacity-7 {
  background-color: rgba(var(--text-color), 0.7);
}

.bgColor-opacity-7 {
  background-color: rgba(var(--bg-color), 0.7);
}

.bg-fill-opacity-7 {
  fill: rgba(var(--bg-color), 0.7);
}

.fill-opacity-7 {
  fill: rgba(var(--text-color), 0.7);
}

.color-opacity-8 {
  color: rgba(var(--text-color), 0.8);
}

.color-to-bg-opacity-8 {
  background-color: rgba(var(--text-color), 0.8);
}

.bgColor-opacity-8 {
  background-color: rgba(var(--bg-color), 0.8);
}

.bg-fill-opacity-8 {
  fill: rgba(var(--bg-color), 0.8);
}

.fill-opacity-8 {
  fill: rgba(var(--text-color), 0.8);
}

.color-opacity-9 {
  color: rgba(var(--text-color), 0.9);
}

.color-to-bg-opacity-9 {
  background-color: rgba(var(--text-color), 0.9);
}

.bgColor-opacity-9 {
  background-color: rgba(var(--bg-color), 0.9);
}

.bg-fill-opacity-9 {
  fill: rgba(var(--bg-color), 0.9);
}

.fill-opacity-9 {
  fill: rgba(var(--text-color), 0.9);
}

.bg-color {
  background-color: var(--bg-color);
}

.color {
  color: var(--text-color);
}

.color-to-bg {
  background-color: var(--text-color);
}

.bg-fill {
  fill: var(--bg-color);
}

.fill {
  fill: var(--text-color);
}

.education {
  margin-bottom: 74px;
  align-items: center;
}
.education .education-img {
  position: relative;
  animation: education-img 1s;
}
@keyframes education-img {
  0% {
    left: -230px;
  }
  100% {
    left: 0px;
  }
}
.education .education-box {
  position: relative;
  animation: education-box 1s;
  margin-top: -20px;
  color: var(--text-color);
  padding-left: 100px;
}
@keyframes education-box {
  0% {
    right: -230px;
  }
  100% {
    right: 0px;
  }
}
.education .education-box h1 {
  font-size: 55px;
}
.education .education-box p {
  font-size: 35px;
  font-weight: 545;
  color: var(--text-color);
}
.education .education-box a {
  background-color: var(--text-color);
  display: inline-flex;
  width: -moz-max-content;
  width: max-content;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
.education .education-box a:hover {
  background-color: var(--bg-color);
  border: 0.9px solid var(--text-color);
}
.education .education-box a .SvgMozilla, .education .education-box a img {
  width: 35px;
  height: 35px;
  margin: 15px;
  fill: var(--bg-color);
}
.education .education-box a .SvgMozilla:hover, .education .education-box a img:hover {
  fill: var(--text-color);
}

.Degrees-title {
  font-size: 50px;
  background-color: var(--bg-color);
  color: var(--text-color);
  position: relative;
  animation: degrees-title 1s;
}
@keyframes degrees-title {
  0% {
    bottom: -30px;
  }
  100% {
    bottom: 0px;
  }
}

.degrees-received {
  margin-top: 33px;
  margin-bottom: 101px;
}
.degrees-received .degrees-received-box-img img {
  width: 90%;
}
.degrees-received .degrees-received-box-img .miage_logo {
  position: relative;
  animation: miage_logo 1s;
}
@keyframes miage_logo {
  0% {
    left: -230px;
  }
  100% {
    left: 0px;
  }
}
.degrees-received .degrees-received-box-img .ensa_logo {
  position: relative;
  animation: ensa_logo 1.8s;
}
@keyframes ensa_logo {
  0% {
    left: -230px;
  }
  100% {
    left: 0px;
  }
}
.degrees-received .card {
  margin-left: 20px;
}
.degrees-received .card .card-header {
  background-color: var(--text-color);
  color: var(--bg-color);
}
.degrees-received .card .card-body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.degrees-received .card .card-footer {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.degrees-received .card .card-footer button {
  background-color: var(--text-color);
  color: var(--bg-color);
}
.degrees-received .card .card-footer button:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 0.9px solid var(--text-color);
}
.degrees-received .card-miage {
  position: relative;
  animation: card-miage 1s;
}
@keyframes card-miage {
  0% {
    right: -230px;
  }
  100% {
    right: 0px;
  }
}
.degrees-received .card-ensa {
  position: relative;
  animation: card-ensa 1.8s;
}
@keyframes card-ensa {
  0% {
    right: -230px;
  }
  100% {
    right: 0px;
  }
}/*# sourceMappingURL=Education.css.map */