//to change theme
$colorDanger: #dc3545 
$colorSuccess: #198754
$colorBrown: brown
$colorWarning : #ffc107
$colorCiel : #0e6ba8
$colorVioliet:#1f0039
$colorLight: #edf9fe 
$colorDark: #212529

// icon link color
$bg-github:#000c24 
$bg-linkedin: #0077b5
$bg-gmail: #d14836 
$bg-facebook: #1877f2



//color in use 
$bodyBgColor: $colorCiel
$bodyColor: $colorLight
$bodyColor-opacity-5: rgba($bodyColor , 0.5)

%grandTitle
  font-size: 70px
  color:$bodyColor
  margin-top: 45px

%miniTitle    
  font-size: 55px
  color:$bodyColor

%paragraphStyle
  line-height: 43px
  font-weight: 620
  color: $bodyColor-opacity-5
  latter-spacing: -6px
  words-spacing: -20px
  
@function color-lightness($bgcolor)
  @if lightness($bgcolor) > 70
    @return $bodyColor
  @else
    @return white

@mixin color-mixin($bgColor)
  background-color: $bgColor
  color: color-lightness($bgColor)