
:root 
  --bg-color:  #0e6ba8
  --text-color: #edf9fe 
  --text-color-opacity:  #edf9fe92

//color in use 
$bodyBgColor: var(--bg-color)
$bodyColor: var(--text-color)
$bodyColor-opacity-5: var(--text-color-opacity)

%grandTitle
  font-size: 70px
  color:$bodyColor
  margin-top: 45px

%miniTitle    
  font-size: 55px
  color:$bodyColor

%paragraphStyle
  line-height: 43px
  font-weight: 620
  color: $bodyColor-opacity-5
  latter-spacing: -6px
  words-spacing: -20px
  
@function color-lightness($bgcolor)
  @if lightness($bgcolor) > 70
    @return $bodyColor
  @else
    @return white

@mixin color-mixin($bgColor)
  background-color: $bgColor
  color: color-lightness($bgColor)

// fix icon color
$bg-github:#000c24 
$bg-linkedin: #0077b5
$bg-gmail: #d14836 
$bg-facebook: #1877f2