@import "../../assests/sass/var"
@import "../../assests/sass/flex"
@import "../../assests/sass/animation"
@import "../../assests/sass/color"
@import "../../assests/sass/animation"


.contact
    @include animationDirection("contact", 2s , "bottom" , -40px , 0px)
    margin-top: 80px 
        
    .contact-img
        width: 70%  
        height: max-content
        margin: auto
        @extend %flex-center-center
        img
            width: 100% 
        
    .contact-box    
        align-self: center
        @media (max-width: 992px) 
            text-align: center
        h1
            @extend %grandTitle
        p
            @extend %paragraphStyle
            font-size: 28px
            margin-bottom: 20px 
            @media (max-width: 767px) 
                font-size: 17px
                line-height: 30px
                margin-bottom: 10px
        .linkt-to-contact
            ul
                display: flex
                padding: 0px
                @media (max-width: 992px) 
                    justify-content: center
                li
                    list-style-type: none
                    a
                        display: inline-flex 
                        @extend %center-center 
                        width: 45px
                        height: 45px
                        margin-right: 9px
                        border-radius: 50%
                        border: 0.9px solid $bodyColor
                        span
                            display: block
                            i
                                font-size:22px
                                color: $bodyBgColor
                    .btn-github
                        background-color: $bg-github
                    .btn-linkedin
                        background-color: $bg-linkedin
                    .btn-facebook
                        background-color: $bg-facebook
                    .btn-gmail
                        background-color: $bg-gmail
.adress
    margin-bottom: 40px   
    .adress-box
        @include animationDirection("adress-box", 2s , "left" , -230px , 0px)
        height: max-content
        align-self: center
        text-align: center
        h3
            @extend %grandTitle
            padding: 0
            margin-top: 30px
            text-align: center
        a 
            margin: 30px 0
            font-size: 20px
            color: $bodyBgColor
            &:hover
                color: $bodyColor
                border: 0.8px solid $bodyColor
                background-color: $bodyBgColor
           
    svg 
        @include animationDirection("adress-svg", 2s , "right" , -230px , 0px)
        @media (max-width: 767px) 
            width: 85%
            height: max-content
            margin-bottom: 40px 