:root {
  --bg-color: #0e6ba8;
  --text-color: #edf9fe;
  --text-color-opacity: #edf9fe92;
}

.contact .contact-box h1 {
  font-size: 70px;
  color: var(--text-color);
  margin-top: 45px;
}

.adress .adress-box h3 {
  font-size: 55px;
  color: var(--text-color);
}

.adress .adress-box p, .contact .contact-box p {
  line-height: 43px;
  font-weight: 620;
  color: var(--text-color-opacity);
  latter-spacing: -6px;
  words-spacing: -20px;
}

.contact .contact-box .linkt-to-contact ul {
  display: flex;
  justify-content: center;
}

.contact .contact-box .linkt-to-contact ul li a {
  justify-content: center;
  align-items: center;
}

.contact .contact-box .linkt-to-contact ul {
  align-items: center;
}

:root {
  --bg-color: #0e6ba8;
  --text-color: #edf9fe;
  --text-color-opacity: #edf9fe92;
}

.contact .contact-box h1 {
  font-size: 70px;
  color: var(--text-color);
  margin-top: 45px;
}

.adress .adress-box h3 {
  font-size: 55px;
  color: var(--text-color);
}

.adress .adress-box p, .contact .contact-box p {
  line-height: 43px;
  font-weight: 620;
  color: var(--text-color-opacity);
  latter-spacing: -6px;
  words-spacing: -20px;
}

.color-opacity-1 {
  color: rgba(var(--text-color), 0.1);
}

.color-to-bg-opacity-1 {
  background-color: rgba(var(--text-color), 0.1);
}

.bgColor-opacity-1 {
  background-color: rgba(var(--bg-color), 0.1);
}

.bg-fill-opacity-1 {
  fill: rgba(var(--bg-color), 0.1);
}

.fill-opacity-1 {
  fill: rgba(var(--text-color), 0.1);
}

.color-opacity-2 {
  color: rgba(var(--text-color), 0.2);
}

.color-to-bg-opacity-2 {
  background-color: rgba(var(--text-color), 0.2);
}

.bgColor-opacity-2 {
  background-color: rgba(var(--bg-color), 0.2);
}

.bg-fill-opacity-2 {
  fill: rgba(var(--bg-color), 0.2);
}

.fill-opacity-2 {
  fill: rgba(var(--text-color), 0.2);
}

.color-opacity-3 {
  color: rgba(var(--text-color), 0.3);
}

.color-to-bg-opacity-3 {
  background-color: rgba(var(--text-color), 0.3);
}

.bgColor-opacity-3 {
  background-color: rgba(var(--bg-color), 0.3);
}

.bg-fill-opacity-3 {
  fill: rgba(var(--bg-color), 0.3);
}

.fill-opacity-3 {
  fill: rgba(var(--text-color), 0.3);
}

.color-opacity-4 {
  color: rgba(var(--text-color), 0.4);
}

.color-to-bg-opacity-4 {
  background-color: rgba(var(--text-color), 0.4);
}

.bgColor-opacity-4 {
  background-color: rgba(var(--bg-color), 0.4);
}

.bg-fill-opacity-4 {
  fill: rgba(var(--bg-color), 0.4);
}

.fill-opacity-4 {
  fill: rgba(var(--text-color), 0.4);
}

.color-opacity-5 {
  color: rgba(var(--text-color), 0.5);
}

.color-to-bg-opacity-5 {
  background-color: rgba(var(--text-color), 0.5);
}

.bgColor-opacity-5 {
  background-color: rgba(var(--bg-color), 0.5);
}

.bg-fill-opacity-5 {
  fill: rgba(var(--bg-color), 0.5);
}

.fill-opacity-5 {
  fill: rgba(var(--text-color), 0.5);
}

.color-opacity-6 {
  color: rgba(var(--text-color), 0.6);
}

.color-to-bg-opacity-6 {
  background-color: rgba(var(--text-color), 0.6);
}

.bgColor-opacity-6 {
  background-color: rgba(var(--bg-color), 0.6);
}

.bg-fill-opacity-6 {
  fill: rgba(var(--bg-color), 0.6);
}

.fill-opacity-6 {
  fill: rgba(var(--text-color), 0.6);
}

.color-opacity-7 {
  color: rgba(var(--text-color), 0.7);
}

.color-to-bg-opacity-7 {
  background-color: rgba(var(--text-color), 0.7);
}

.bgColor-opacity-7 {
  background-color: rgba(var(--bg-color), 0.7);
}

.bg-fill-opacity-7 {
  fill: rgba(var(--bg-color), 0.7);
}

.fill-opacity-7 {
  fill: rgba(var(--text-color), 0.7);
}

.color-opacity-8 {
  color: rgba(var(--text-color), 0.8);
}

.color-to-bg-opacity-8 {
  background-color: rgba(var(--text-color), 0.8);
}

.bgColor-opacity-8 {
  background-color: rgba(var(--bg-color), 0.8);
}

.bg-fill-opacity-8 {
  fill: rgba(var(--bg-color), 0.8);
}

.fill-opacity-8 {
  fill: rgba(var(--text-color), 0.8);
}

.color-opacity-9 {
  color: rgba(var(--text-color), 0.9);
}

.color-to-bg-opacity-9 {
  background-color: rgba(var(--text-color), 0.9);
}

.bgColor-opacity-9 {
  background-color: rgba(var(--bg-color), 0.9);
}

.bg-fill-opacity-9 {
  fill: rgba(var(--bg-color), 0.9);
}

.fill-opacity-9 {
  fill: rgba(var(--text-color), 0.9);
}

.bg-color {
  background-color: var(--bg-color);
}

.color {
  color: var(--text-color);
}

.color-to-bg {
  background-color: var(--text-color);
}

.bg-fill {
  fill: var(--bg-color);
}

.fill {
  fill: var(--text-color);
}

.contact {
  position: relative;
  animation: contact 2s;
}
@keyframes contact {
  0% {
    bottom: -30px;
  }
  100% {
    bottom: 0px;
  }
}
.contact .contact-img {
  width: 80%;
}
.contact .contact-img i {
  font-size: 220px;
}
.contact .contact-box {
  align-self: center;
}
.contact .contact-box p {
  font-size: 28px;
}
.contact .contact-box .linkt-to-contact ul li {
  list-style-type: none;
}
.contact .contact-box .linkt-to-contact ul li a {
  display: inline-flex;
  width: 45px;
  height: 45px;
  margin-right: 9px;
  border-radius: 50%;
  border: 0.9px solid var(--text-color);
  margin-right: 14px;
}
.contact .contact-box .linkt-to-contact ul li a span {
  display: block;
}
.contact .contact-box .linkt-to-contact ul li a span i {
  padding: 0;
  font-size: 22px;
  color: var(--bg-color);
}
.contact .contact-box .linkt-to-contact ul li .btn-github {
  background-color: #000c24;
}
.contact .contact-box .linkt-to-contact ul li .btn-linkedin {
  background-color: #0077b5;
}
.contact .contact-box .linkt-to-contact ul li .btn-facebook {
  background-color: #1877f2;
}
.contact .contact-box .linkt-to-contact ul li .btn-gmail {
  background-color: #d14836;
}

.adress {
  margin-top: -60px;
}
.adress .adress-box {
  position: relative;
  animation: adress-box 2s;
  text-align: center;
  align-self: center;
}
@keyframes adress-box {
  0% {
    left: -230px;
  }
  100% {
    left: 0px;
  }
}
.adress .adress-box p {
  font-size: 28px;
}
.adress .adress-box a {
  font-size: 20px;
  color: var(--bg-color);
}
.adress .adress-box a:hover {
  color: var(--text-color);
  border: 0.8px solid var(--text-color);
  background-color: var(--bg-color);
}
.adress svg {
  position: relative;
  animation: adress-svg 2s;
}
@keyframes adress-svg {
  0% {
    right: -230px;
  }
  100% {
    right: 0px;
  }
}/*# sourceMappingURL=ContactMe.css.map */