@import "../../assests/sass/flex"
@import "../../assests/sass/var"
@import "../../assests/sass/animation"
@import "../../assests/sass/class"

body
  background-color: $bodyBgColor

header 
  padding: 25px  70px
  height: 90px 
  @media (max-width: 992px) 
    padding: 20px 25px 
  @media (max-width: 492px) 
    padding: 20px 0px 
  nav 
    .container-fluid
      h1
        font-family: 'Amiri', serif
        font-family: 'Cedarville Cursive', cursive
        font-family: 'Dancing Script', cursive
        font-size: 37px
        color: $bodyColor 
        &::before
          content: "<  "
        &::after
          content: "  />"
        @media (max-width: 767px)
          font-size: 27px
        a
          text-decoration-line: none
          color: $bodyColor
          &:hover
            color: $bodyColor
      .btn
        background-color: $bodyColor
        i
          color: $bodyBgColor
      .box-link
        flex-direction: row-reverse
        ul   
          a
            text-decoration-line: none
            font-size: 18px
            font-weight:450
            display: block
            padding: 10px 27px
            height: 100%
            border-radius: 6px 
            background-color: $bodyBgColor
            color: $bodyColor
            &:hover
              background-color: $bodyColor
              color: $bodyBgColor
            &:focus
              font-weight: 500
          .Contact-me
            width: max-content
            @media (max-width: 992px) 
              width: 100%

      .gear
        position: absolute
        right: -34px
        font-size: 19px 
        margin-left: 33px
        color: $bodyColor
        cursor: pointer
        @include animationEngine("themes" , 8s)
        @media (max-width: 992px) 
          margin-top: -5px
